<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="network.photos.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--  Sync images from/to server  -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!--  Keep device alive during sync  -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--  Download images in background  -->
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <!--  Sync images from 3rd party apps  -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--  Read location data from media files  -->
    <!--  https://developer.android.com/training/data-storage/shared/media  -->
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_MEDIA_LOCATION"/>

    <!--  use precise location coordinates  -->
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>

    <application
        android:name=".PhotosNetworkApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhotosNetwork">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <intent-filter>
                <data
                    android:host="authorize"
                    android:scheme="photosapp" />
            </intent-filter>
        </activity>
    </application>

</manifest>
