name: Promote release version within Google Play

on:
  push:
    branches:
      - main
    tags:
      - '*'
  workflow_dispatch:
    inputs:
      fromTrack:
        description: 'The track from which to promote a release'
        required: true
        default: 'internal'
        type: choice
        options:
          - internal
          - alpha
          - beta
          - production
      promoteTrack:
        description: 'Track to which to promote a release'
        required: true
        default: 'alpha'
        type: choice
        options:
          - internal
          - alpha
          - beta
          - production
      userFraction:
        description: 'percentage of users who will receive a staged release'
        required: false
        default: '0.25'
        type: environment

jobs:
  promote:
    name: Promote an release to a specific track
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Decode Gradle Play Publisher Credentials
        id: decode_play_store_credentials
        uses: timheuer/base64-to-file@v1
        with:
          fileName: 'gradle_playstore_publisher_credentials.json'
          encodedString: ${{ secrets.ANDROID_KEYSTORE }}

      - name: Promote release artifact
        run: |
          ./gradlew --console=plain app:promoteArtifact --from-track ${{ github.event.inputs.fromTrack }} --promote-track ${{ github.event.inputs.promoteTrack }} --user-fraction ${{ github.event.inputs.userFraction }}
